---
const props = Astro.props;

---

<header>
    <h1>{props.nombre}</h1>
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#cv">Currículum Vitae</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="#portafolio">Portafolio</a></li>
            <li><a href="#testimonios">Testimonios</a></li>
            <li><a href="#habilidades">Habilidades</a></li>
            <li><a href="#blogroll">Blogroll</a></li>
        </ul>
    </nav>
</header>

<style>
    
    header {
        background: var(--accent-gradient);
        color: white;
        text-align: center;
    }
    
    h1 {
        padding-top: 1%;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding-bottom: 1%;
    }

    nav ul li {
        margin-left: 1%;
        margin-right: 1%;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }

    nav ul li a:hover
    {
        color: black
    }
</style>